/* Estilos generales */
body {
  background-image: url('./assets/images/fondo.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

/* Estilos para el marcador */
.scoreboard {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

/* Estilos para el contenedor de entrada */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.input-name {
  width: 70%;
  padding: 10px;
  font-size: 1.2em;
}

.play-button {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  background-image: url('./assets/images/boton.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

/* Estilos generales para formularios */
.form-container {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.form-container h2, 
.form-container p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.form-container button {
  padding: 10px 20px;
  background-color: #f0ad4e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container button:hover {
  background-color: #ec971f;
}

/* Estilos específicos para el formulario de reporte de errores */
.error-report-form p {
  font-size: 1em;
  margin-bottom: 10px;
}

.error-textarea {
  height: 80px;
}

/* Estilos específicos para el formulario de sugerencias */
.suggestion-textarea {
  height: 100px;
}

.error-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header a {
  text-decoration: none;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.suggestions-section,
.error-section {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.about-section {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
}

.about-section p {
  font-size: 1em;
  margin: 0;
}
/*Estilo para el tiempo y usuario*/

.container{
  padding-top: 1px;
}
.container div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.timer-container{
  background-color: #fff;
  width: 30vw;
  height: 8vh;
  padding: 2px;
  margin-left: 20px;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.text-timer{
  font-weight: normal;
}

footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 0;
  display: inline-block;
}

footer a {
  margin-left: 20px;
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



